In [6]:
!pip3 install wheel
!pip3 install pandas
!pip3 install pandas_datareader

Requirement already satisfied: wheel in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.37.1)
WARNING: There was an error checking the latest version of pip.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/fabribara/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /Users/fabribara/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Collecting pandas_datareader
  Using cached pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (1.4.4)
Collecting lxml
  Downloading lxml-4.9.1.tar.gz (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 5.7 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting requests>=2.19.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/fabribara/Library/Python/3.10/lib/python/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2022.2.1)
Collecting certifi>=2017.4.17
  Downloading certifi-2022.6.15.2-py3-none-any.whl (160 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.4/160.4 kB 6.0 MB/s eta 0:00:00
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.4/140.4 kB 9.2 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /Users/fabribara/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.9.1-cp310-cp310-macosx_10_9_universal2.whl size=1736966 sha256=6996fd958a4a73b633c62e3675836ac2ae71add4a3ba62e50c82041a87511005
  Stored in directory: /Users/fabribara/Library/Caches/pip/wheels/a4/ec/7b/8acde6da24b5aabeee049213d5bec12d1e9214d3cae276387b
Successfully built lxml
Installing collected packages: urllib3, lxml, idna, charset-normalizer, certifi, requests, pandas_datareader
Successfully installed certifi-2022.6.15.2 charset-normalizer-2.1.1 idna-3.4 lxml-4.9.1 pandas_datareader-0.10.0 requests-2.28.1 urllib3-1.26.12
WARNING: There was an error checking the latest version of pip.

In [7]:
import pandas as pd
from pandas_datareader import wb

wb_countries = wb.get_countries()
country_list = wb_countries[wb_countries['region']!='Aggregates']['name'].reset_index(drop=True)

indicator_ids = ['EN.POP.DNST', 'SP.POP.TOTL', 'SM.POP.NETM']

migration = wb.WorldBankReader(symbols=['SM.POP.NETM'], start=1950, end=2018, countries='all').read()
pop_density = wb.WorldBankReader(symbols=['EN.POP.DNST'], start=1950, end=2018, countries='all').read()
population = wb.WorldBankReader(symbols=['SP.POP.TOTL'], start=1950, end=2018, countries='all').read()

pop_density_countries = pop_density.reset_index()#.query('country in @country_list').reset_index(drop=True)
population_countries = population.reset_index()#.query('country in @country_list').reset_index(drop=True)
migration_countries = migration.reset_index()#.query('country in @country_list').reset_index(drop=True)

pop_density_merged = pd.merge(population_countries, pop_density_countries, on=['country', 'year'], how='outer')
migration_final = (pd.merge(pop_density_merged, migration_countries, on=['country', 'year'], how='outer')
                   .rename(columns={'SP.POP.TOTL': 'population',
                                    'EN.POP.DNST': 'pop_density',
                                    'SM.POP.NETM': 'net_migration'})
                   .assign(migration_perc=lambda df: df['net_migration'].div(df['population'])))

migration_final = pd.merge(migration_final, wb_countries, how='left', left_on='country', right_on='name')
migration_final.drop('name', axis=1).to_csv('migration_population.csv', index=False)

In [8]:
import pandas

In [9]:
migration_final.head()
 #

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Africa Eastern and Southern,2018,643090131.0,43.431367,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
1,Africa Eastern and Southern,2017,626392880.0,42.303709,-791282.0,-0.001263,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
2,Africa Eastern and Southern,2016,609978946.0,41.195114,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
3,Africa Eastern and Southern,2015,593871847.0,40.107067,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
4,Africa Eastern and Southern,2014,578075373.0,39.040385,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN

In [10]:
migration_final.loc[migration_final['country'] == 'Honduras'].sort_values(by=['year'], ascending=False)[['country','year','population','net_migration','pop_density']]

       country  year  population  net_migration  pop_density
7906  Honduras  2018   9587523.0            NaN    85.687041
7907  Honduras  2017   9429016.0       -34000.0    84.270408
7908  Honduras  2016   9270794.0            NaN    82.856323
7909  Honduras  2015   9112904.0            NaN    81.445205
7910  Honduras  2014   8955579.0            NaN    80.039137
7911  Honduras  2013   8798524.0            NaN    78.635481
7912  Honduras  2012   8640692.0       -30000.0    77.224882
7913  Honduras  2011   8480670.0            NaN    75.794709
7914  Honduras  2010   8317467.0            NaN    74.336107
7915  Honduras  2009   8150780.0            NaN    72.846367
7916  Honduras  2008   7980955.0            NaN    71.328582
7917  Honduras  2007   7808520.0       -25000.0    69.787470
7918  Honduras  2006   7634295.0            NaN    68.230360
7919  Honduras  2005   7458982.0            NaN    66.663527
7920  Honduras  2004   7282953.0            NaN    65.090294
7921  Honduras  2003   7106323.0            NaN    63.511690
7922  Honduras  2002   6929267.0       -41999.0    61.929279
7923  Honduras  2001   6751912.0            NaN    60.344195
7924  Honduras  2000   6574510.0            NaN    58.758692
7925  Honduras  1999   6397140.0            NaN    57.173474
7926  Honduras  1998   6220405.0            NaN    55.593932
7927  Honduras  1997   6045704.0       -64998.0    54.032568
7928  Honduras  1996   5874814.0            NaN    52.505264
7929  Honduras  1995   5709010.0            NaN    51.023416
7930  Honduras  1994   5548969.0            NaN    49.593074
7931  Honduras  1993   5394416.0            NaN    48.211779
7932  Honduras  1992   5244677.0       -77999.0    46.873510
7933  Honduras  1991   5098594.0            NaN    45.567915
7934  Honduras  1990   4955302.0            NaN    44.287264
7935  Honduras  1989   4814696.0            NaN    43.030619
7936  Honduras  1988   4677023.0            NaN    41.800188
7937  Honduras  1987   4542218.0       -73998.0    40.595388
7938  Honduras  1986   4410270.0            NaN    39.416123
7939  Honduras  1985   4281167.0            NaN    38.262284
7940  Honduras  1984   4154864.0            NaN    37.133470
7941  Honduras  1983   4031333.0            NaN    36.029431
7942  Honduras  1982   3910642.0       -61998.0    34.950773
7943  Honduras  1981   3792922.0            NaN    33.898668
7944  Honduras  1980   3678274.0            NaN    32.874019
7945  Honduras  1979   3566661.0            NaN    31.876495
7946  Honduras  1978   3458102.0            NaN    30.906265
7947  Honduras  1977   3352825.0       -50999.0    29.965368
7948  Honduras  1976   3251145.0            NaN    29.056618
7949  Honduras  1975   3153252.0            NaN    28.181714
7950  Honduras  1974   3059245.0            NaN    27.341541
7951  Honduras  1973   2968978.0            NaN    26.534793
7952  Honduras  1972   2882102.0       -45999.0    25.758352
7953  Honduras  1971   2798125.0            NaN    25.007820
7954  Honduras  1970   2716652.0            NaN    24.279668
7955  Honduras  1969   2637515.0            NaN    23.572393
7956  Honduras  1968   2560723.0            NaN    22.886076
7957  Honduras  1967   2486418.0       -41000.0    22.221986
7958  Honduras  1966   2414805.0            NaN    21.581955
7959  Honduras  1965   2346005.0            NaN    20.967066
7960  Honduras  1964   2280044.0            NaN    20.377549
7961  Honduras  1963   2216712.0            NaN    19.811529
7962  Honduras  1962   2155648.0       -29002.0    19.265779
7963  Honduras  1961   2096407.0            NaN    18.736321
7964  Honduras  1960   2038636.0            NaN          NaN